.vscode/**
.vscode-test/**
.github/**
src/**
node_modules/**
!node_modules/gray-matter/**
!node_modules/section-matter/**
!node_modules/extend-shallow/**
!node_modules/is-extendable/**
!node_modules/kind-of/**
!node_modules/strip-bom-string/**
!node_modules/js-yaml/**
!node_modules/argparse/**
!node_modules/sprintf-js/**
out/test/**
docs/**
.gitignore
.eslintrc.json
tsconfig.json
docker-compose.yml
package-lock.json
**/*.map
**/*.ts
!out/**/*.js
*.vsix
